/* You can add global styles to this file, and also import other style files */

:root {
  --background: dimgray;
  --color: whitesmoke;

  --font-mono: "Roboto Mono", "Courier New", "Courier", monospace;
  --font-sans: "Roboto", "Arial", sans-serif;
  --font-serif: "Roboto Slab", "Times New Roman", serif;
}

html, body {
  margin: 0;
  padding: 0;

  background: var(--background);
  color: var(--color);
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}
