<header>
  <div class="title">Weather Preview</div>
  <div class="menu">
    <div class="menu-icon">
      MENU
    </div>
    <div class="menu-items">
      <div class="menu-item" *ngFor="let location of (appConfig.load() | async)?.locations">
        <div class="menu-item-icon">I</div>
        <div class="menu-item-title">{{location.city}}, {{location.country}}</div>
        <div class="menu-item-remove">R</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon">+</div>
        <div class="menu-item-title">Add location</div>
      </div>
    </div>
  </div>
</header>
